{% extends "layout.html" %}
{% block body %}
  <section class="section links-page">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {% for link in links %}
            <tr>
              <td>{{ link.id }}</td>
              <td>{{ link.title }}</td>
              <td>{{ link.description }}</td>
              <td>{{ link.media_type }}</td>
              <td>
                <form action="{{ url_for('links') }}" method="POST" class="field has-addons">
                  <p class="control">
                    <button type="submit" onclick="linkAction(event, 'short')" class="button is-primary">
                      <span class="icon is-small">
                        <i class="fa fa-external-link-square"></i>
                      </span>
                      <span>Short</span>
                    </button>
                  </p>

                  <p class="control">
                    <button type="submit" onclick="linkAction(event, 'delete')" class="button is-danger">
                      <span class="icon is-small">
                        <i class="fa fa-trash"></i>
                      </span>
                      <span>Delete</span>
                    </button>
                  </p>
                  <input type="hidden" value="{{ link.id }}" name="link_id">
                  <input type="hidden" value="short" name="action">
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if fetch_more or fetch_previous %}
        <div class="columns">
          <div class="column is-12 has-text-center">
            {% if fetch_previous %}
              <a href="{{ url_for('links', page=(page-1)) }}" class="button is-medium">
                <span class="icon is-small">
                  <i class="fa fa-arrow-up"></i>
                </span>
                <span>Load previous</span>
              </a>
            {% endif %}

            {% if fetch_more %}
              <a href="{{ url_for('links', page=(page+1)) }}" class="button is-medium">
                <span class="icon is-small">
                  <i class="fa fa-arrow-down"></i>
                </span>
                <span>Load next</span>
              </a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock %}
