<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ankor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/app.css') }}">
  </head>
  <body>
    {% include "header.html" %}
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>
  </body>
</html>
